*{
    margin: 0;
    padding: 0;
}
.header{
    background-color: black;
    color: white;
    padding: 30px;
}

h1{
    font-size: 40px;
}
ul,li{
    display: inline-block;

}
nav{
    display: inline-block;
    margin-left:45% ;
   
}
li{
    padding-top: 20px;
    margin-right: 10px;
    font-size: 20px;
    color: gray;

}
li:hover{
    color: white;
    cursor: pointer;
}
img{
    height: 380px;
    width: 300px;
}
.box{
    border-style: solid;
    border-color: black;
    display: inline-block;
    border-width: 2px;
    margin-top: 40px;
    width: 300px;
    text-align: center;
}
.box:hover{
    background-color: black;
    color: white;
}
.products{
    text-align: center;
}
.box{
    font-size: 20px;
}
.box button{
    padding: 10px;
    background-color: black;
    color: white;
    border-radius: 20px;
    font-size: 15px;
}
button:hover{
    background-color: greenyellow;
    color: black;
    cursor: pointer;
}
.contact{
    background-color: black;
    color: white;
    text-align: center;
    margin-top: 20px;
    padding: 20px;
    font-size: 28px;
}
.contact input{
    padding: 10px;
    width: 280px;
    font-size: 16px;
}
button{
    width: 60%;
    padding: 15px;
    margin-top: 10px;
    background-color: greenyellow;
    font-size: 19px;
    font-weight: bolder;
}